body {
 background-color: white;
}

.botonsHome li{
 list-style: none;
}

.headerImage {
 width: 85%;
 height: 15%;
 display: flex;
 align-content: center;
 justify-content: center;
 margin: 20px auto;
}

.text-welcome {
 text-align: center;
 font-size: 18px;
 font-family: Arial;
}

#btn-google {
 width: 65%;
 margin-top: 20px;
 padding: 8px 0px 8px 0px;
 font-family: Arial;
 font-size: 19px;
 font-weight: bold;
 background-color: #ffb977;
 border: none;
 border-radius: 10px;
 box-shadow: 2px 8px 8px rgb(117, 115, 115);
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 margin-left: auto;
 margin-right: auto;
}

.text {
 margin-top: 30px;
 font-family: Arial;
 font-size: 20px;
 text-align: center;
 font-weight: bold;
}



.email {
 margin-top: 10px;
 font-family: Arial;
 font-size: 17px;
 border: 1px solid black;
 display: flex;
 margin: auto;
 text-align: center;
 padding: 8px 14px 8px 14px;
 border-radius: 8px;
}

.password {
 margin-top: 10px;
 font-family: Arial;
 font-size: 17px;
 border: 1px solid black;
 display: flex;
 margin: auto;
 text-align: center;
 padding: 8px 14px 8px 14px;
 border-radius: 8px;
}

.botons {
 margin-top: 20px;
 padding: 10px 20px 10px 20px;
 font-family: Arial;
 font-size: 18px;
 font-weight: bold;
 background-color: #ffb977;
 border: none;
 border-radius: 10px;
 box-shadow: 2px 8px 8px rgb(117, 115, 115);
 display: flex;
 margin-left: auto;
 margin-right: auto;
}

#create-account {
 margin-top: 40px;
}

#footer {
 margin-top: 45px; 
 text-align: center;
 font-family: Arial;
 background-color: #ffb977;
}

/*formulario de registro*/
#textRegister {
 margin-top: 20px;  
 font-family: Arial;
 font-size: 25px;
 font-weight: bold;
 text-align: center;
}

#name {
 margin-top: 10px;
 font-family: Arial;
 font-size: 17px;
 border: 1px solid black;
 display: flex;
 margin: auto;
 text-align: center;
 padding: 8px 14px 8px 14px;
 border-radius: 8px;
}

#lastName {
 margin-top: 10px;
 font-family: Arial;
 font-size: 17px;
 border: 1px solid black;
 display: flex;
 margin: auto;
 text-align: center;
 padding: 8px 14px 8px 14px;
 border-radius: 8px;
}

/* Vista muro */
#signOff{
 display: flex;
}

#sign-off{
 border: none;
 background-color:  #ffb977;
 border-radius: 50%;
 display: block;
 width: 50px;
 height: 50px;
}

#logoSmall{
 width: 67%;
}

#profile{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 5%;
}

#userlogo{
 width:10%;
 height: 10%;
 margin-right: 2%;
}

#userName{
 font-family: Arial;
 font-size: 15px;
}


#comentText{
  margin-top: 5%;
  margin-left: 16%;
}

#text{
 justify-content: center;
}

#postText{
 font-size: 14px;
 padding: 6px 12px 6px 12px;
}
.postPublications{
  border: solid 1px grey;
  margin-top: 5%;
}