body {
  background-image: url("https://i.imgur.com/EcK1kXZ.png");
  margin: 0;
}

#home {
  width: 70%;
  height: 80vh;
  background-color: #ffffff95;
  margin: auto;
  margin-top: 7%;
  border-radius: 20px;
}

.botonsHome li {
 list-style: none;
}

.headerImage {
 width: 65%;
 display: flex;
 align-content: center;
 justify-content: center;
 margin: auto;
 border-radius: 20px;
}

.headerImage2 {
  width: 65%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 20px auto;
}
 
.text-welcome {
 text-align: center;
 font-size: 18px;
 font-family: Arial;
 color: #404040;
}

#btn-google {
 width: 65%;
 margin-top: 20px;
 padding: 8px 0px 8px 0px;
 font-family: Arial;
 font-size: 19px;
 font-weight: bold;
 background-color: #ffb977;
 border: none;
 border-radius: 10px;
 box-shadow: 2px 8px 8px rgb(117, 115, 115);
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 margin-left: auto;
 margin-right: auto;
}

.text {
 margin-top: 30px;
 font-family: Arial;
 font-size: 20px;
 text-align: center;
 font-weight: bold;
}

.email {
 margin-top: 10px;
 font-family: Arial;
 font-size: 17px;
 border: 1px solid black;
 display: flex;
 margin: auto;
 text-align: center;
 padding: 8px 14px 8px 14px;
 border-radius: 8px;
}

.password {
 margin-top: 10px;
 font-family: Arial;
 font-size: 17px;
 border: 1px solid black;
 display: flex;
 margin: auto;
 text-align: center;
 padding: 8px 14px 8px 14px;
 border-radius: 8px;
}

.botons {
 margin-top: 20px;
 padding: 10px 20px 10px 20px;
 font-family: Arial;
 font-size: 18px;
 font-weight: bold;
 background-color: #ffb977;
 border: none;
 border-radius: 10px;
 box-shadow: 2px 8px 8px rgb(117, 115, 115);
 display: flex;
 margin-left: auto;
 margin-right: auto;
}

#create-account {
 margin-top: 30px;
 margin-bottom: 40px;
}

#footer {
 margin-top: 45px; 
 text-align: center;
 font-family: Arial;
 background-color: #ffb977;
 position: fixed;
 bottom: 0;
 width: 100%;
 height: 40px;
}

/*formulario de registro*/
#register {
  width: 70%;
  height: 58vh;
  background-color: #ffffff95;
  margin: auto;
  margin-top: 25%;
  border-radius: 20px;
}

.headerImage3 {
  width: 85%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 20px auto;
}
 
#textRegister {
 margin-top: 20px;  
 font-family: Arial;
 font-size: 25px;
 font-weight: bold;
 text-align: center;
}

#name {
 margin-top: 10px;
 font-family: Arial;
 font-size: 17px;
 border: 1px solid black;
 display: flex;
 margin: auto;
 text-align: center;
 padding: 8px 14px 8px 14px;
 border-radius: 8px;
}

#lastName {
 margin-top: 10px;
 font-family: Arial;
 font-size: 17px;
 border: 1px solid black;
 display: flex;
 margin: auto;
 text-align: center;
 padding: 8px 14px 8px 14px;
 border-radius: 8px;
}

/* Vista muro */
#wall {
  width: 70%;
  height: 30vh;
  background-color: #ffffff95;
  margin: auto;
  margin-top: 7%;
  border-radius: 20px;
}

#signOff{
 display: flex;
}

#sign-off{
 border: none;
 background-color:  #ffb977;
 border-radius: 50%;
 display: block;
 width: 50px;
 height: 50px;
 box-shadow: 2px 8px 8px rgb(117 115 115);
}

#logoSmall{
  width: 75%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 20px auto;
}

#profile{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 5%;
}

#userlogo{
 width:10%;
 height: 10%;
 margin-right: 2%;
}

#userName{
 font-family: Arial;
 font-size: 17px;
 font-weight: bold;
}


#comentText{
  margin-top: 5%;
  margin-left: 12%;
  border: 1px solid black;
  font-family: arial;
  font-size: 16px;
}

#text{
 justify-content: center;
}

#postText{
 font-size: 14px;
 padding: 6px 12px 6px 12px;
}
.postPublications{
  width: 70%;
  margin: auto;
  margin-top: 5%;
  background-color: #ffffff95;
  border-radius: 20px;
  /* text-align: center; */
  font-family: Arial;
  padding: 3px;
}

.author {
  text-align: center;
}
.postUser {
  width: 60%;
  border: solid 1px black;
  margin: auto;
}

#btnsPost {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 30px;
  margin-top: 10px;
  padding: 7px;
}

#counter {
  align-self: center;
}